<!DOCTYPE html>
<html lang="en">
<head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
    <div id= "temp"></div>
    <script id="template" type="text/x-handlebars-template"></script>
    <table style ="width:100%">
        <tr>
            <td>City </td>
            <td>   </td>
        </tr>
        <tr>
            <td>weather</td>
            <td>   </td>
        </tr>
        <tr>
            <td>description</td>
            <td>   </td>
        </tr>
        <tr>
            <td>temp</td>
            <td>   </td>
        </tr>
        <tr>
            <td>maxTemp</td>
            <td>   </td>
        </tr>
        <tr>
            <td>minTemp</td>
            <td>   </td>
        </tr>
        <tr>
            <td>pressure</td>
            <td>   </td>
        </tr>
        <tr>
            <td>humidity</td>
            <td>   </td>
        </tr>
        <tr>
            <td>visibility</td>
            <td>   </td>
        </tr>

    </table>
</body>